@import "../../styles/common/Fonts.scss";
@import "../../styles/common/Colors.scss";

.login-card-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    height: 100vh;
  }

  .login-card {
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px 45px;

    h1 {
      font-family: $font-1;
      font-size: 30px;
      line-height: 30px;
      color: $color-gray-1;
      margin: 0;
    }

    h6 {
      font-family: $font-1;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray-2;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      font-family: $font-2;
      font-size: 12px;
      line-height: 15px;
      color: $color-gray-2;
      transition: color 0.3s ease;
      margin-top: 25px;
    }

    label.focused {
      color: $color-blue-1;
    }

    input {
      font-family: $font-2;
      font-size: 14px;
      line-height: 17px;
      color: $color-gray-1;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      outline: none;
    }

    input[type="email"] {
      border-bottom: 1px solid $color-gray-2;
    }

    input[type="email"]:focus {
      border-color: $color-blue-1;
    }

    input[type="checkbox"] {
      margin: 0;
    }

    .checkbox-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      h5 {
        font-family: $font-2;
        font-size: 14px;
        line-height: 17px;
        color: $color-gray-1;
      }

      input[type="checkbox"] {
        appearance: none;
        width: 15px;
        height: 15px;
        border: 2px solid $color-blue-1;
        border-radius: 50%;
        outline: none;
        margin: 0;
        cursor: pointer;

        &:checked {
          background-color: $color-blue-1;
        }
      }
    }

    .password-input-wrapper {
      display: grid;
      grid-template-columns: 11fr 0.5fr 0.5fr;
      grid-template-rows: 1fr;
      border-bottom: 1px solid $color-gray-2;

      &.focused {
        border-bottom: 1px solid $color-blue-1;
      }

      .img-wrapper {
        align-self: center;
        height: 100%;
      }

      .dot-wrapper {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-end;
        align-self: center;
        height: 100%;
        margin-bottom: 2px;

        .dot {
          width: 5px;
          height: 5px;
          background-color: $color-gray-2;
          border-radius: 50%;
        }
      }
    }

    button {
      background-color: $color-blue-1;
      color: $color-white-1;
      font-family: $font-2;
      font-size: 16px;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 15px;
      align-self: flex-end;
    }

    button:hover {
      opacity: 0.8;
    }
  }
}
