$color-black: #000000;
$color-white-1: #ffffff;
$color-white-2: #f7f7f7;
$color-yellow: #f9c466;
$color-red: #cd4146;
$color-blue-1: #4a90e2;
$color-blue-2: #0a96a3;
$color-gray-1: #757575;
$color-gray-2: #a1a1a1;
$color-gray-3: #bebebe;
$color-gray-4: #d4d4d4;
$color-gray-5: #e0e0e0;
$color-green-1: #006400;
$color-green-2: #90ee90;
